.wrap {
  height: 100px;
}
.grid {
  display: grid;
  grid-template-columns: 100px 200px;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;

  background-color: #7b68ee;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.flexMenu {
  display: flex;
  width: 500px;
  justify-content: space-evenly;
  align-items: center;
}

.flexMenu b {
  margin-left: 20px;
  margin-right: 20px;
}

.text {
  text-decoration: none;
  color: black;
}
